@import 'variables';

body {
    font-size: 16px;
    @media (max-width: 1023px) {
        font-size: 14px;
    }
}

.content {
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
}

h2 {
    //font-size: 30px;
}

a {
    cursor: pointer;
    &.disabled {
        pointer-events: none;
    }
}

.link {
    font-weight: 300;
    color: $color-black;
    width: fit-content;
    //border-bottom: 1px $color-black solid;
    position: relative;
}

input, textarea {
    border: 1px $color-black solid !important;
    border-radius: 14px !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: #8EA279 !important;;
}

input[type="radio"], input[type="checkbox"] {
    width: 22px;
    height: 22px
}


/* Линия загрузки */
#nprogress .bar {
    background: #4CAF50; /* Изменить цвет линии */
    height: 4px; /* Толщина линии */
}

/* Круговой индикатор (если используется) */
#nprogress .spinner-icon {
    border-top-color: #4CAF50; /* Цвет верхней линии круга */
    border-left-color: #4CAF50; /* Цвет левой линии круга */
}

/* Фон линии загрузки */
#nprogress .peg {
    box-shadow: 0 0 10px #4CAF50, 0 0 5px #4CAF50; /* Свечение */
}
