@import 'variables';

.content {
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

a {
    cursor: pointer;
}

.link {
    font-size: 1.25rem;
    font-weight: 300;
    color: $color-black;
    width: fit-content;
    border-bottom: 1px $color-black solid;
    position: relative;
}

input, textarea {
    border: 1px $color-black solid !important;
    border-radius: 14px !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
