@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Random Grotesque Spacious Book';
    src: url('/storage/fonts/RG/RG-SpaciousBook.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-SpaciousBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardBoldItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Slim Book';
    src: url('/storage/fonts/RG/RG-SlimBook.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-SlimBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardMediumItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardMedium.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard Book';
    src: url('/storage/fonts/RG/RG-StandardBookItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardBold.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Slim';
    src: url('/storage/fonts/RG/RG-SlimBlackItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-SlimBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Spacious';
    src: url('/storage/fonts/RG/RG-SpaciousBlackItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-SpaciousBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard Book';
    src: url('/storage/fonts/RG/RG-StandardBook.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardSemiboldItalic.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/storage/fonts/RG/RG-StandardSemibold.woff2') format('woff2'),
    url('/storage/fonts/RG/RG-StandardSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
