@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: red;
}


@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardBoldItalic.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardMediumItalic.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardMedium.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardBold.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardSemiboldItalic.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('/fixed/fonts/RG/RG-StandardSemibold.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Random Grotesque Spacious Book';
    src: url('/fixed/fonts/RG/RG-SpaciousBook.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-SpaciousBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Random Grotesque Standard Book';
    src: url('/fixed/fonts/RG/RG-StandardBook.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Random Grotesque Standard Book';
    src: url('/fixed/fonts/RG/RG-StandardBookItalic.ttf') format('ttf'),
    url('/fixed/fonts/RG/RG-StandardBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

